version: '3'
services:
  db:
    image: postgres
    env_file: .env
    volumes:
      - ./tmp/db:/var/lib/postgresql/data

  redis:
    image: redis

  web:
    build: .
    command: python3 app.py
    volumes:
      - .:/harvester
    ports:
      - "8080:8080"
    depends_on:
      - redis
      - db
